.cls-1-07 {
isolation: isolate;
}

.cls-16-07, .cls-2-07 {
fill: #514c1d;
}

.cls-3-07, .cls-4-07 {
font-size: 45.71px;
font-family: BodoniSvtyTwoOSITCTT-Book, Bodoni 72 Oldstyle;
}

.cls-10-07, .cls-17-07, .cls-18-07, .cls-19-07, .cls-3-07 {
fill: #fff;
}

.cls-4-07, .cls-6-07 {
fill: none;
}

.cls-11-07, .cls-4-07, .cls-6-07 {
stroke: #f2f2f2;
}

.cls-4-07 {
stroke-width: 8px;
}

.cls-11-07, .cls-5-07, .cls-7-07 {
fill: #353535;
}

.cls-14-07, .cls-5-07 {
opacity: 0.25;
mix-blend-mode: multiply;
}

.cls-6-07 {
stroke-width: 14px;
}

.cls-8-07 {
fill: #50504f;
}

.cls-9-07 {
fill: #f78f07;
}

.cls-11-07 {
stroke-width: 15px;
}

.cls-12-07 {
fill: #eb3737;
}

.cls-13-07 {
fill: #c32828;
}

.cls-15-07 {
fill: #169b29;
}

.cls-16-07 {
font-size: 48px;
}

.cls-16-07, .cls-17-07, .cls-18-07, .cls-19-07 {
font-family: FjallaOne-Regular, Fjalla One;
}

.cls-17-07 {
font-size: 21px;
}

.cls-18-07 {
font-size: 24px;
}

.cls-19-07 {
font-size: 40px;
}

.cls-20-07 {
fill: #ffa648;
}
