.LBG{
    background-image: url(image/COLORBG.svg);
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    background-size: contain;
/*    background-size: cover;*/
}
/*
#flat2{
    opacity: 0;
}
#flat1{
    opacity: 0;
}
#bat2{
    opacity: 0;
}
#bat1{
    opacity: 0;
}
*/
.cls-2{fill:#2d3b60}.cls-3{fill:#515282}.cls-4{fill:#acadaf}.cls-7{fill:#38425c}.cls-8{fill:#80394b}.cls-9{fill:#4b2e48}.cls-10{fill:#cdaa68}.cls-11{fill:#917658}.cls-12{fill:#706261}.cls-13{fill:#ffdf7a}.cls-17{fill:#b09f73}.cls-19{fill:#32282c}.cls-20{fill:#ffe155}.cls-21{fill:#c1b472}.cls-22{fill:#9a7540}.cls-23{fill:#d9dca9}.cls-26{fill:#7a5f56}.cls-27{fill:#7a5f64}.cls-28{fill:#846c40}.cls-29{fill:#4f4b48}.cls-30{fill:#ffc95c}.cls-33{fill:#c4ccca}.cls-34{fill:#7d9591}.cls-41{fill:#ecd3d6}.cls-42{fill:#4f4248}.cls-43{fill:#b6acb9}.cls-44{fill:#8b736b}.cls-45{fill:#a099a3}.cls-46{fill:#62485f}.cls-47{fill:#e1dce1}.cls-48{fill:#4c4347}.cls-49{fill:#c7c0ca}.cls-50{fill:#bfb7c2}.cls-51{fill:#3a3a3a}.cls-52{fill:#fff}.cls-53{fill:#fcfcfc}.cls-54{fill:#ffb15f}.cls-57{fill:#ffa648}.cls-58{fill:#c7cbe2}.cls-59{fill:#283150}.cls-60{fill:#e9dfcd}.cls-61{fill:#414142}.cls-62{fill:#0b081b}.cls-63{fill:#232132}.cls-64{fill:#f2f2f2}.cls-65{fill:#e0d0b7}.cls-66{fill:#34282a}.cls-67{fill:#1a1a1a}.cls-68{fill:#f1f1f1}.cls-69,.cls-71{fill:#fffafc}.cls-69{stroke:#4b2e48;stroke-miterlimit:10}.cls-73{fill:#676891}.cls-75{opacity:.41; mix-blend-mode:screen}.cls-76{fill:#eddd9d}