.cls-1-06 {
isolation: isolate;
}

.cls-12-06, .cls-19, .cls-2-06 {
fill: #fff;
}

.cls-14-06, .cls-3-06 {
fill: #514c1d;
}

.cls-4-06 {
fill: #eb3737;
}

.cls-5-06 {
fill: #c32828;
}

.cls-10-06, .cls-6-06 {
opacity: 0.25;
mix-blend-mode: multiply;
}

.cls-10-06, .cls-7 {
fill: #353535;
}

.cls-8-06 {
fill: #50504f;
}

.cls-9-06 {
fill: #169b29;
}

.cls-11-06 {
fill: #f78f07;
}

.cls-12-06 {
font-size: 22.78px;
font-family: BodoniSvtyTwoOSITCTT-Book, Bodoni 72 Oldstyle;
}

.cls-13-06 {
fill: #801100;
}

.cls-14-06 {
font-size: 48px;
font-family: MarkerFelt-Thin, Marker Felt;
}

.cls-15-06 {
letter-spacing: -0.04em;
}

.cls-16-06 {
letter-spacing: 0.05em;
}

.cls-17-06 {
letter-spacing: -0.04em;
}

.cls-18-06 {
letter-spacing: 0.05em;
}

.cls-19-06 {
font-size: 21px;
font-family: OpenSans-CondensedBold, Open Sans Condensed;
font-weight: 700;
}

.cls-20-06 {
fill: #ffa648;
}

#player1Ready {
    opacity: 0;
}

#p1{
    top: 200px;
    left: 30px;
    position: absolute;
}

#p2{
    right: 40px;
    top: 200px;
    position: absolute;

}